* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
  overflow: hidden;
}
html {
  margin: 0 auto;
  /*padding: 2rem;*/
  text-align: center;
  height: 100vh;  
}

.main-container{
  display: flex;
  width: 100%;
  height: 98vh;
}
                /* SPLIT AREA */
.split {
  display: flex;
  width: 100%; 
  /* margin: 0 auto;  */
}

.gutter {
  background-color: #eee;

  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
}

.gutter.gutter-horizontal:hover {
  cursor: col-resize;
}



                  /* NAVBAR */
.navigation{
  background-color: rgba(150, 150, 254, 0.489);
  font-family: "Karla", sans-serif;
  font-size: 24px;
  font-weight: 600;
  padding:10px;
}

                  /* SIDEBAR */
.sidebar{
  background-color: #f1f1f1;
  overflow-y: scroll; 
}
.sidebar-nav{
  font-family: "Karla", sans-serif;
  font-size:18px;
  padding: 7px;
  display: flex;
  align-items: center;

}
.add-icon{
  cursor: pointer;
}

/*Widok dla pojedynczego pliku*/
.file-selected,
.file{
 cursor: pointer;
}
.file-selected{
  background-color: rgb(114, 114, 227);
}
.one-file{
  display:flex;
  align-items: center;
  padding:7px;
}


                  /* EDYTOR */
.editor{
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 90%;
  background-color: #d4caca7f;
}
.latexEditor{  
  border: 1px solid gray;
  /*background-color: #85f88f2e;*/
  font-size: 14px;

}
.editor-nav{
  display: flex;
  align-items: center;
  padding: 7px;
}
.nav-title{
  margin-right: auto;
  font-family: "Karla", sans-serif;
  font-size: 20px;
  font-weight: 550;
}


