* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
  overflow: hidden;
}
html {
  margin: 0 auto;
  /*padding: 2rem;*/
  text-align: center;
  height: 100vh;  
}

.main-container{
  display: flex;
  width: 100%;
  height: 98vh;
}
                /* SPLIT AREA */
.split,
.split2,
.split3 {
  display: flex;
  width: 100%; 
  /* margin: 0 auto;  */
}
.split2,
.split3{
  width: 50%;
}

.gutter {
  background-color: #eee;

  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
}

.gutter.gutter-horizontal:hover {
  cursor: col-resize;
}



                  /* NAVBAR */
.navigation{
  background-color: #0066FF;
  font-family: "Karla", sans-serif;
  color: white;
  font-size: 24px;
  font-weight: 600;
  padding:10px;
}

                  /* SIDEBAR */
.sidebar{
  background-color: #f1f1f1;
  overflow-y: scroll; 
}
.sidebar-nav{
  font-family: "Karla", sans-serif;
  font-size:18px;
  padding: 7px;
  display: flex;
  align-items: center;

}
.add-icon{
  cursor: pointer;
}

/*Widok dla pojedynczego pliku*/
.file-selected,
.file{
 cursor: pointer;
}
.file-selected{
  background-color: #0087FF;
}
.one-file{
  display:flex;
  align-items: center;
  padding:7px;
}


                  /* EDYTOR */
.editor{
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 90%;
  background-color: #d4caca7f;
}
.latexEditor{  
  border: 1px solid gray;
  /*background-color: #85f88f2e;*/
  font-size: 14px;

}
.editor-nav{
  display: flex;
  align-items: center;
  padding: 7px;
}
.nav-title{
  margin-right: auto;
  font-family: "Karla", sans-serif;
  font-size: 20px;
  font-weight: 550;
}
.nav-button{
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background-color: #0087FF;
  padding:5px;
  margin-right: 5px;
}

.option{
  cursor: pointer;
  padding:3px;
  font-size: 13px;
  border-bottom: 0.5px solid white;
  background-color: #0087FF;
  border-radius: 2px;
  opacity: 0.85;
}

/* REVIEW */

.review-container{
  display:flex;
  flex-direction: column;
}
.review-content{
  font-size: 14px;
}
.review-points{
  text-align: left;
}